@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');

body{
    font-family: Roboto, sans-serif;
    margin:0;
    font-size:18px;
}

header{
    font-family: Roboto, sans-serif;
    font-size: 18px;
    background-color: white;
    
    
}

header p{
    font-weight: 300;
    
}

header h3{
    font-weight: 500;
    font-size:24px;
}
header h1{
    font-size:42px;
}

.header-top {
    display:flex;
    flex-direction: row;
    width:100%;
    height:80px;
    padding:0;
    background-color: #033003;
    position: fixed;
    top:0;
}

#header-top-img{
    width:80px;
}

.header-top img{
    height:60px;
    margin-top: 10px;
    margin-left: 20px;
}

.header-top-div{
    display:flex;
    flex-direction: row;
    width:100%;
    font-size: 300;
    text-align: center;
    justify-content: center;
}

.header-top-div h3{
    margin: 3px 0;
}

.header-top-div div{
    width: 148px;
    margin: 0;

}

.header-top-div p{
    margin-bottom:5px;
    font-size: 16px;
    font-weight: 500;
    color:rgb(255, 255, 255);
}
.header-top-div p a{
    color:rgb(255, 255, 255);
}

#fucken-button{
    display:flex;
    flex-direction: column;
    align-self: flex-start;
    width:50%;
}

.header-middle{
    max-width:1600px;
    min-width:940px;
    margin: 0 auto;
    display:flex;
    flex-direction: row;
    padding:0 80px;
    padding-top: 80px;
}

#header-middle-text{
    display:flex;
    flex-direction: row;
    align-self:center;
    padding-bottom: 10%;
}

.header-middle-div{
    float:right;
    text-align: start;
    width:30%;
    
}

#header-h{
    
    width:480px;
    
}

#header-h div{
    padding-left:10px;
    border-left: 3px solid #033003;

}

#header-price{
    align-self: flex-end;
    padding-right: 10px;
    color:#033003;
    font-size:28px;
    font-weight: 500;
    display:flex;
    flex-direction: row;
    align-items: flex-start;
    align-self:flex-end;

}



#header-img{
    width:50%;
    display:flex;
    flex-direction: row;
    justify-content:flex-end;
    margin: 0;
    
}
#header-img img{
    height:500px;
    padding:0;
    margin: 0;
}

button[id="hd-btn"]{
    background-color: red;
    color:white;
    width:240px;
    height:60px;
    border: 0;
    border-radius:30px;
    font-size: 18px;
    cursor: pointer;
}

main{
    margin:0 auto;
    
}

section{
    margin:0 auto;
    max-width: 1600px;
    min-width: 1000px;
}


#study-program{
    background-color: #033003;
    padding:20px 40px;
    color: white;
    font-weight: 300;
    
}
#study-program h1{
    font-size:36px;
    
}
#study-program h2{
    font-weight: 500;
}

#study-program-main{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    
}

#program-number{
    display:flex;
    flex-direction: row;
    align-items: center;
    color: white;
}

.program-number{
    width:100%;
}
.program-number div{
    display:flex;
    flex-direction: row;
    align-items: flex-start;
    /*border-bottom: 2px solid rgb(16, 80, 29);*/
    border-bottom: 1px solid white;
    width:140px;
}


.program-number-third{
    width:180px;
}

.program-number h2{
    margin:0;
    padding:0 4px;
    font-size:54px;
    
}


.program-number h3{
    margin:0;
    padding-bottom: 8px;
    height:100%;
    width:110px;
    align-self:flex-end;
    font-weight: 300;
}

.course-block-div{
    background-color: white;
    color: black;
    border:0;
    border-radius: 50px;
    padding:10px;
    margin: 20px 0;
    width:700px;
}





.course-block-div h1{
    padding-left:30px;
    width: fit-content;
    cursor: pointer;
    margin:7px 0;
}

.course-block-div-list{
    
    display:flex;
    flex-direction: row;
    
    align-items: flex-start;
    align-self:center;
    width:100%;
}
.course-block-div-list div{
    width:50%;
}
.course-block-div-list li{
    color:#033003;
    font-weight: 500;
}
.course-block-div-list span{
    color:black;
}
.course-block-div-list{
    
    transition: 0.5s ease-in-out;
    max-height: 0;
    overflow:hidden;
}


.course-block-div-list div{
    padding:10px;
}
.course-block-div-list h2{
    padding-left:20px;
}

.aside{
    padding:30px;
}

#galery{
    padding: 40px;
    max-width:1500px;
    min-width: 920px;
}

#galery-block{
    
    display: flex;
    flex-direction: row;
    max-width: 15000px;
    min-width: 880px;
    width: 100%;
}


.galery-div{
    display: flex;
    flex-direction: row;
    
    overflow-x: scroll;
    width: 300%;
}

.galery-div img{
    width: calc(94%/3);
    border:1px solid grey;
    margin: calc(1% - 1px);
    padding: 0;
    
}

#course-form{
    background-color: #033003;
}

#form{
    color: black;
    background-color: white;
    padding:30px;
}

#form-block{
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    width:100%;
}


#form li{
    font-weight: 500;
    color: #033003;
    font-size: 20px;
    padding: 5px;
    
}
#form span{
    
    color:black;
}

.block-div{
    width:50%;
}

.form-div{
    margin:10px;
    padding: 10px;
    
    /* border: 5px solid rgb(16, 80, 29); */
    border-radius: 40px;
    width:550px;
}

.text-border{
    background-color: #033003;
    height: 100%;
    width: 520px;
    padding:20px;
    border-radius: 34px;
    border:0;
    margin: 10px;
}

input[type="text"], input[type="tel"]{
    background-color:white;
    font-size:22px;
    color:black;
    width: 500px;
    height:44px;
    padding:5px 10px;
    margin: 10px 0;
    border:0;
    border-radius:25px;
}
::-webkit-input-placeholder { /* WebKit browsers*/
    color:rgb(38, 46, 39);
}  

#form-button{
    display: flex;
    justify-content: center;
    width:100%;
    height:40px;
    border: 0;
    border-radius: 37px;
    margin-left: 12px;
    text-align: center;
    padding:7px;
    font-weight: 500;
    

}

button[id="submitFF"]{
    
    background-color:red;
    border:0;
    border-radius:30px;
    font-size:22px;
    font-weight:500;
    color:white;
    width: 200px;
    height:50px;
    cursor: pointer;
}

#form h1{
    font-size:40px;
    font-weight: 500;
}
#form h3{
    margin-top: 0;
    font-size: 28px;
    font-weight: 500;
    color: #033003;
}

